<div class="container">
  <div class="row">
      <ul  class="col-4 col-sm-4" style="margin: 10px" class="list-group" *ngFor="let res of Posts">
        <li class="list-group-item">id: <span style="float: right"> {{res.id}}</span></li>
        <li class="list-group-item">userId: <span style="float: right"> {{res.userId}}</span></li>
        <li class="list-group-item">name: <span style="float: right"> {{res.name}}</span></li>
        <li class="list-group-item">body: <span style="float: right"> {{res.body}}</span></li>
        <li class="list-group-item">title: <span style="float: right"> {{res.title}}</span></li>
      </ul>
    </div>
</div>
